@model PhotoHistory.Models.UserModel
           
<div id="content-center">
    <form class="form-horizontal" action="/User/Create" method="post">
    <fieldset>
        <legend>Create account</legend>
        <div class="alert alert-success">
            Your account has been successfully created! Activate it by clicking the link in
            the e-mail we've just sent you.
        </div>
    </fieldset>
    </form>
</div>
