@model PhotoHistory.Models.RestoreUserPasswordModel

<div id="content-center">
	<form class="form-horizontal" action="/User/RestorePassword" method="post">
		<fieldset>
			<legend>Restore password</legend>
            @if ( !ViewData.ModelState.IsValid )
            {
                <div class="alert alert-error">
                    @if ( ViewBag.ErrorMessage != null )
                    {
                        @ViewBag.ErrorMessage
                    }
                    else
                    {
                        <text>Some fields are invalid - please correct the errors.</text>
                    }
                </div>
            }
			<div class="control-group @Html.MyValidationMark( "Account" )">
			<label class="control-label" for="Account">Account</label>
			<div class="controls">
				<input type="text" class="input-normal" id="Account" name="Account">
				<p class="help-block">Enter either your username or your e-mail address</p>
                @Html.MyValidationMessage( "Account" )
			</div>
			</div>
			<div class="form-actions">
			<button type="submit" class="btn btn-primary">Confirm</button>
			<button class="btn">Cancel</button>
			</div>
		</fieldset>
	</form>
</div>