@model PhotoHistory.Models.BrowseAlbumModel

@{
    List<PhotoHistory.Models.AlbumProfileModel> left = new List<PhotoHistory.Models.AlbumProfileModel>();
    List<PhotoHistory.Models.AlbumProfileModel> right = new List<PhotoHistory.Models.AlbumProfileModel>();
    int iter = 0;
    foreach (PhotoHistory.Models.AlbumProfileModel album in Model.Albums)
    {
        if (iter++ % 2 == 0)
        {
            left.Add(album);
        }
        else
        {
            right.Add(album);
        }
    }
}   

<h1 class="page-title">Browse</h1>
<div id="browse-menu">
	<ul class="nav nav-pills nav-stacked">
    @foreach (PhotoHistory.Models.CategoryModel category in Model.Categories)
    { 
        <li class='@(Model.SelectedCategory == category.Id? "active":"")'><a href='@Url.Action("Browse", new { catId = category.Id } )'>@category.Name</a></li>
    }
	</ul>
</div>

@if (Model.Albums.Count == 0)
{
    <h2>This category is empty</h2>
}
else
{
    <div id="content-left-small">
    @foreach (PhotoHistory.Models.AlbumProfileModel album in left)
    { 
         Html.RenderPartial("_AlbumMiniView", album);
    }

	    <div id="browse-page">
		    <a href="#"><strong>1</strong></a>
		    <a href="#">2</a>
		    <a href="#">3</a>
		    <a href="#">4</a>
		    <a href="#">5</a>
		    <a href="#">6</a>
		    <a href="#">></a>
		    <a href="#">>></a>
	    </div>
    </div>	
    
    <div id="content-right-small">
        @foreach (PhotoHistory.Models.AlbumProfileModel album in right)
        { 
             Html.RenderPartial("_AlbumMiniView", album);
        }
    </div>	
}		