@model PhotoHistory.Models.AlbumModel
 
<div id="content-center">
    <form class="form-horizontal" action="/Album/Create" method="post">
    <fieldset>
        <legend>Create new album</legend>
        @if (Model != null)
        {
            <div class="alert alert-error">
                @if (ViewBag.ErrorMessage != null)
                {
                    @ViewBag.ErrorMessage
                }
                else
                {
                    <text>Some fields are invalid - please correct the errors.</text>
                }
            </div>
        }
        

        
        @{Html.RenderPartial("_Form", Model);}



        <div class="form-actions">
            <button type="submit" class="btn btn-success">
                Create album</button>
            <a href="@Url.Action("Manage")">
                <button class="btn" type=button>
                    Cancel</button>
            </a>
        </div>
    </fieldset>
    </form>
</div>
<script type="text/javascript">
    $('#reminderEn').change(function () { $('#number_of_days').slideDown(); });
    $('#reminderDis').change(function () { $('#number_of_days').slideUp(); });

    $('#private').change(function () { $('#access_control').slideDown(); });
    $('#public').change(function () { $('#access_control').slideUp(); }); 
</script>
