@model PhotoHistory.Models.AlbumModel
 
<div id="content-center">
    <form class="form-horizontal" action="/Album/Edit" method="post">
    <fieldset>
        <legend>Edit the album</legend>
              
        @{Html.RenderPartial("_Form", Model);}

        @Html.HiddenFor(model => Model.Id)

        <div class="form-actions">
            <button type="submit" class="btn btn-success">
                Save album</button>
            <a href="@Url.Action("Manage")">
                <button class="btn">
                    Cancel</button>
            </a>
        </div>
    </fieldset>
    </form>
</div>
<script type="text/javascript">
    $('#reminderEn').change(function () { $('#number_of_days').slideDown(); });
    $('#reminderDis').change(function () { $('#number_of_days').slideUp(); });

    $('#private').change(function () { $('#access_control').slideDown(); });
    $('#public').change(function () { $('#access_control').slideUp(); }); 
</script>
