@model List<PhotoHistory.Models.AlbumProfileModel>
<style>
    .post .entry
    {
        background: none;
    }
</style>
<div id="content">
    <div class="actions right">
        <a href="@Url.Action("Create","Album")">
            <button class="btn btn-success">
                Create a new album</button>
        </a>
    </div>
    <h3>
        My albums</h3>
    <div id="content-left" style="width: 900px; margin-right: 0;">
        @foreach (var album in Model)
        {
            <div class="post" style="width: 450px; float: left;">
                <div class="entry">

                    @{Html.RenderPartial("_AlbumMiniView", album);}
  
                </div>
            </div> 
        }
    </div>
    <div id="content-right">
    </div>
    <div style="clear: both;">
        &nbsp;</div>
</div>
