@model PhotoHistory.Models.AlbumModel
<div id="content">
    <h3>
        This album is password-protected. Please enter password:
    </h3>
    <form class="form-horizontal" action="/Album/PasswordForAlbum/@Model.Id" method="post">
    @if (ViewBag.MyErrorMsg != null)
    {
        <div class="alert alert-error">
            @ViewBag.MyErrorMsg
        </div>
    }

    <input type="hidden" value="@Model.Id" name="id" />
    <input type="password" name="password" />
    <input type="submit" value="Send" />
    </form>
</div>
